[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
alembic
aniso8601
attrs
bcrypt
blinker
boto3
botocore
build
cached-property
Cerberus
certifi
chardet
charset-normalizer
click
colorama
distlib
Faker
Flask
Flask-JWT-Extended
Flask-Mail
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
greenlet
gunicorn
idna
itsdangerous
Jinja2
jmespath
Mako
MarkupSafe
marshmallow
orderedmultidict
packaging
pep517
pip-shims
pip-tools
pipenv-setup
pipfile
platformdirs
plette
psycopg2
psycopg2-binary
PyJWT
pyparsing
pyproject_hooks
python-dateutil
python-dotenv
pytz
requests
requirementslib
s3transfer
six
SQLAlchemy
toml
tomli
tomlkit
typing_extensions
urllib3
vistir
Werkzeug
WTForms

[dev-packages]

[requires]
python_version = "3.10"
python_version = "3.9"
python_version = "3.8"
